In [5]:
import sys
sys.path.append('py_entitymatching')

import py_entitymatching as em
import pandas as pd
import os

AttributeError: module 'py_entitymatching' has no attribute 'catalog'

In [2]:
ltable = pd.read_csv('ltable.csv', encoding = "ISO-8859-1")
rtable = pd.read_csv('rtable.csv', encoding = "ISO-8859-1")
sample = pd.read_csv('sample_submission.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
ltable.head()

,ltable_id,title,category,brand,modelno,price
0,0,draper infrared remote transmitter,electronics - general,draper,121066,58.45
1,1,epson 1500 hours 200w uhe projector lamp elplp12,monitors,epson,elplp12,438.84
2,2,comprehensive two-piece 75 precision bnc jack ...,tv accessories,comprehensive,bj-2c7559,59.25
3,3,d-link dcs-1100 network camera,garden - general,d-link,dcs-1100,99.82
4,4,startech.com rkpw247015 24 outlet power strip,electronics - general,startech,rkpw247015,59.00

In [4]:
rtable.head()

,rtable_id,title,category,brand,modelno,price
0,0,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132,12.65
1,1,kodak black ink cartridge 10b 1163641,inkjet printer ink,kodak,1163641,10.28
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,computers accessories,kingston,ktc-d320 / 1g,33.75
3,3,kinamax ms-ues2 mini high precision usb 3-butt...,mice,kinamax,ms-ues2,6.99
4,4,kensington k72349us wireless mouse for netbooks,mice,kensington,k72349us,24.00

In [5]:
sample.head()

   id  label
0   0      0
1   8      0
2   9      1
3  10      1
4  15      1

In [6]:
train.head()

   ltable_id  rtable_id  label  id
0        621       3167      0   1
1       2115       8789      0   2
2        278       9064      0   3
3       1673      13279      0   4
4       2305       2948      0   5

In [7]:
test.head()

   ltable_id  rtable_id  id
0       1853       2139   0
1       1718      11835   8
2       1624       5013   9
3        614       5969  10
4       1512      19684  15

In [8]:
ltable.query("ltable_id == 621")[['ltable_id', 'title', 'category', 'brand', 'modelno', 'price']]

,ltable_id,title,category,brand,modelno,price
621,621,zotac geforce gt430 1gb ddr3 pci-express 2.0 g...,electronics - general,zotac,zt-40604-10l,88.88

In [9]:
rtable.query("rtable_id == 3167")[['rtable_id', 'title', 'category', 'brand', 'modelno', 'price']]

,rtable_id,title,category,brand,modelno,price
3167,3167,evga geforce gts450 superclocked 1 gb gddr5 pc...,graphics cards,evga,01g-p3-1452-tr,119.88

In [15]:
len(rtable)

22074